<div style="margin-top: 50px;margin-left: 50px;">

  <strong>P A R T I C I P A N T S .</strong>

  <br />
  <br />
  <br />

  {{#each participants}}
    <em>{{lowercase name}}</em> <br />
  {{/each}}

  {{> _footer}}

</div>
