doctype 5
html(lang="en")
  head
    script(src='javascripts/app.js', type='text/javascript')
    link(href='css/app.css', type='text/css', rel='stylesheet')
  body
    h1 Jade - node template engine
    #container
      p Getll on it!!!!!
