doctype 5
html(lang="en")
  head
    script(src='javascripts/app.js', type='text/javascript')
    link(href='css/app.css', type='text/css', rel='stylesheet')
  body
    div(class="app")
      em l o a d i n g . . .
